.charts{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    filter: drop-shadow(5px 5px 10px #222222cc);
    align-items: center;

  
  

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pie-chart {
    margin-bottom: 20px;
  }
  
  .bar-chart {
    width: 50%;
    margin: 0 auto;
  }
  
  @media (max-width: 768px) {
    .charts {
      padding-top: 10vh;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      filter: drop-shadow(5px 5px 10px #222222cc);
      align-items: center;
    }
  }
  